version: "3"

services:
  postgres:
      image: postgres:14-alpine
      environment:
          POSTGRES_DB: pwa
          POSTGRES_USER: pwauser
          POSTGRES_PASSWORD: pwakey    
      volumes:
          - ./data/pgdata:/var/lib/postgresql/data:delegated
      ports:
          - '5432:5432'
  backend:
    image: yiisoftware/yii2-php:8.1-apache
    volumes:
      - ./backend/composer/cache:/root/.composer/cache:delegated
      - ./backend/basic:/app:delegated
    environment:
      DDBB_NAME: pwa
      DDBB_HOST: postgres
      DDBB_PASSWORD: pwakey
      PRODUCCION: 0
    ports:
      - '8000:80'